
td, th {
    border: 1px solid #999;
    padding: 0.2rem;
}

th {
    background-color: #6279b8;
    font-family: monospace;
    font-size: 15px;
}

td {
    background-color: #00072d;
    color: white;
}

table {
    font-family: sans-serif;
     /* border-spacing: 0.8rem;  */
    /* to completely remove spacing */
    border-collapse: collapse;
    margin: 0 auto;
   
    
    
}  


body {
    background-color: #aed4e6;

}

input[type=text]:hover {
    background-color: lightblue;
}


.wrapper,table {
    text-align: center;
}

td:nth-child(odd):hover{
	background-color: lightblue;
}

td:nth-child(even):hover{
	background-color: #0496ff;
	
}

input[type=text]:nth-child(even):hover {
    background-color: red;
}



button {
    border: 1px solid #041D37;
    background-color: #449dd1;
    transition: all 1s;
    border-radius: 10%;
    padding: 20px;
    margin: 4px 2px;
    font-size: 16px;

    
}

button:hover {
    transform: scale(1.2);
    border: 1px solid #5386e4;
    background-color: #d9dbf1;
    text-decoration: underline;
}




